 <div class="container text-center">
        <br>
        <h1>Let us build your webpage</h1>

        <h3>Choose among these templates</h3>
        <br>
        <div class="row">
            <div class="col-lg-4">
                <img src="../public/assets/images/template1.png" alt="Image" class="img-thumbnail">
            </div>
            <div class="col-lg-4">
                <img src="../public/assets/images/template2.png" alt="Image" class="img-thumbnail">
            </div>
            <div class="col-lg-4">
                <img src="../public/assets/images/template3.png" alt="Image" class="img-thumbnail">
            </div>
        </div>
        <br>
        <div>
            <button type="button" class="btn btn-primary" id="yelpBtn">Yelp Users</button>
            <button type="button" class="btn btn-success" id="nonYelpBtn">Non Yelp Users</button>
        </div>
        <div class="row" id="businessInput">
            <input type="text" class="form-control" placeholder="Business Name" >
            <input type="text" class="form-control" placeholder="City" >
            <button type="button" class="btn btn-primary" id="searchYelp">Search</button>

        </div>
        <br>
        <div class="form-group" id="userForm">
            <label for="name">Address</label>
            <input type="text" class="form-control" id="name">            
       
            <label for="name">Phone Number</label>
            <input type="text" class="form-control" id="picture"> 
            
            <button type="button" class="btn btn-primary" id="submitInfo">Submit</button>
        </div>
    </div>

    <script>

    $(document).ready(function() {
        //Hide the input forms
        $("#businessInput").hide();
        $("#userForm").hide();

        //When yelp button is clicked, hide non yelp button and show input forms
        $("#yelpBtn").on("click", function() {
            $("#yelpBtn").hide();
            $("#businessInput").show();
            $("#nonYelpBtn").hide();
        })

        //When non-yelp button is clicked, hide yelp button and show input forms
        $("#nonYelpBtn").on("click", function() {
            $("#nonYelpBtn").hide();
            $("#yelpBtn").hide();
            $("#userForm").show();
        })
    });
    
    </script>