<div class="index-class">

    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo"><img class="" id="logoImg" src="assets/images/ourLogo.png" alt=""></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a class="btn light-green accent-4" id="navButton" href="#!">About Us</a></li>
            </ul>
        </div>
    </nav>

    <div class="container center">
        <div id="firstSection">
            <div id="header">
                <h4 class="green-text">Build your business in just one click</h4>
            </div>
            <h5>In to Design can help you to connect your business, <br>
                just pick one design and your brand will be ready to be presented to the world</h5>
            <br>
            <div class="row">
                <div class="col s3 m3">
                    <div class="card">
                        <div class="card-image">
                            <a class="temp1-link">
                                <img src="assets/images/template1.png">
                            </a>
                        </div>
                    </div>
                    <a class="btn grey lighten-2 temp1-link">Template 1</a>
                
                </div>
                <div class="col s3 offset-s1 m3 offset-m1">
                    <div class="card">
                        <div class="card-image">
                            <a class="temp2-link">
                                <img src="assets/images/template2.png">
                            </a>
                        </div>
                    </div>
                        <a class="btn grey lighten-2 temp2-link">Template 2</a>

                </div>
                <div class="col s3 offset-s1 m3 offset-m1">
                    <div class="card">
                        <div class="card-image">
                            <a class="temp3-link">
                                <img src="assets/images/template3.png">
                            </a>
                        </div>
                    </div>
                        <a class="btn grey lighten-2 temp3-link">Template 3</a>
                </div>
            </div>
        </div>
    </div>
    <div id="secondSection">
        <h5>It gets easier! ... <br>
            If your company is on YELP just click on Yelp Users and most of the information will be ﬁlled out for you!
        </h5>

        <a class="waves-effect waves-light btn light-green accent-4" id="yelpBtn">Yelp Users</a>
        <a class="waves-effect waves-light btn light-green accent-4" id="nonYelpBtn">Non Yelp Users</a>
    </div>

    <div class="row" id="businessInput">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s6">
                    <input id="business_name" type="text" class="validate">
                    <label for="business_name">Business Name</label>
                </div>
                <div class="input-field col s6">
                    <input id="business_location" type="text" class="validate">
                    <label for="business_location">Location</label>
                </div>
            </div>
            <a class="waves-effect waves-light btn modal-trigger light-green accent-4" id="searchYelp"
                href="#modal1">Search</a>
            <a class="waves-effect waves-light btn home light-green accent-4">Home</a>
    </div>

    <div class="row" id="businessForm">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s6">
                    <input id="business_name" type="text" class="validate">
                    <label for="business_name">Business Name</label>
                </div>
                <div class="input-field col s6">
                    <input id="business_phone" type="text" class="validate">
                    <label for="business_phone">Phone Number</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="business_address" type="text" class="validate">
                    <label for="business_address">Business Address</label>
                </div>
                <div class="input-field col s6">
                    <input id="business_email" type="text" class="validate">
                    <label for="business_email">Business Email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="business_logo_url" type="text" class="validate">
                    <label for="business_logo_url">Logo URL</label>
                </div>
                <div class="input-field col s6">
                    <input id="business_hours" type="text" class="validate">
                    <label for="business_hours">Business Hours</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="business_pictures_url" type="text" class="validate">
                    <label for="business_pictures_url">Pictures URL, separated by commas</label>
                </div>
            </div>
            <button class="btn waves-effect waves-light light-green accent-4" type="submit" name="action">Submit
                <i class="material-icons right"></i>
            </button>
            <a class="waves-effect waves-light btn home light-green accent-4">Home</a>
        </form>
    </div>

    <!-- Modal Structure -->
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>List of Business</h4>
            <div class="collection">
                <ul id="modal-info">

                </ul>


            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
        </div>
    </div>

    <!-- Modal Structure -->
    <div id="modal2" class="modal">
        <div class="modal-content">
            <h4>About Us</h4>
            <p>We are graduates from the Full Stack Development Program University of Miami Cohort 2019.</p>
            <p>We wanted to design an app so people with no programming skills can have a great website for their
                business.</p>
            <p>Users can build a ready-to-publish business website by grabbing ther information from Yelp.</p>
            <br>
            <h4>Contact Us and Check Our Work</h4>
            <ul class="collection" id="contactUs">
                <li class="collection-item avatar">
                    <img src="assets/images/fabian.png" alt="" class="circle">
                    <span class="title">Fabian Diaz</span><br>
                    <a href="https://www.linkedin.com/in/fabian-diaz-50650b166/" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a href="https://github.com/fdiaz79" target="_blank"><i class="fab fa-github-alt"></i></a>
                </li>
                <li class="collection-item avatar">
                    <img src="assets/images/shirley.png" alt="" class="circle">
                    <span class="title">Shirley Espert Galarce</span><br>
                    <a href="https://www.linkedin.com/in/shirley-espert-galarce/" target="_blank"><i
                            class="fab fa-linkedin"></i></a>
                    <a href="https://github.com/sespert" target="_blank"><i class="fab fa-github-alt"></i></a>
                </li>
                <li class="collection-item avatar">
                    <img src="assets/images/diana.png" alt="" class="circle">
                    <span class="title">Diana Pachon</span><br>
                    <a href="https://www.linkedin.com/in/dianapachon" target="_blank"><i
                            class="fab fa-linkedin"></i></a>
                    <a href="https://github.com/DianaPachon" target="_blank"><i class="fab fa-github-alt"></i></a>
                </li>
                <li class="collection-item avatar">
                    <img src="assets/images/stoyan.png" alt="" class="circle">
                    <span class="title">Stoyan Shivarov</span><br>
                    <a href="https://www.linkedin.com/in/stoyan-shivarov-990b92173/" target="_blank"><i
                            class="fab fa-linkedin"></i></a>
                    <a href="https://github.com/ss100yan" target="_blank"><i class="fab fa-github-alt"></i></a>
                </li>
            </ul>
            {{!-- contact us --}}
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
    </div>


</div>

<script>

    $(document).ready(function () {

        $("#businessInput").hide();
        $("#businessForm").hide();

        $("#navButton").on("click", function () {
            $('.modal').modal();
            $('#modal2').modal('open');
        })

        $("#yelpBtn").on("click", function () {
            $("#yelpBtn").hide();
            $("#businessInput").show();
            $("#nonYelpBtn").hide();
        })

        $("#nonYelpBtn").on("click", function () {
            $("#nonYelpBtn").hide();
            $("#yelpBtn").hide();
            $("#businessForm").show();
        })

        $(".home").on("click", function () {
            $("#yelpBtn").show();
            $("#nonYelpBtn").show();
            $("#businessInput").hide();
            $("#businessForm").hide();
        })

        $("#searchYelp").on("click", function () {
            event.preventDefault();
            $("#modal-info").empty();

            var newBusiness = $("#business_name").val().trim();
            var city = $("#business_location").val().trim();
            console.log(newBusiness, city);
            var query = "/api/yelp/" + newBusiness + "/" + city;
            console.log(query);

            $.ajax(query, {
                type: "GET"
            }).then(function (data) {


                var businessArr = [];
                for (var i = 0; i < data.length; i++) {
                    var business = {
                        name: data[i].name,
                        address: data[i].location.display_address,
                        id: data[i].id
                    };

                    businessArr.push(business);
                };

                for (var i = 0; i < businessArr.length; i++) {
                    var li = $("<li>");
                    var button = $('<a href="#!" class="secondary-content select-business"><i class="far fa-hand-pointer"></i></a>');
                    li.text(businessArr[i].name + " " + businessArr[i].address);
                    button.attr("data-id", businessArr[i].id);

                    li.append(button);
                    $("#modal-info").append(li);
                };

                $('.modal').modal();
                $('#modal1').modal('open');
            }
            );
        });

        var idToLink;
        $(".modal").on("click", ".select-business", function (event) {
            var id = $(this).data("id");
            console.log("id from front end", id);
            var query = "/api/yelp/" + id;
            console.log("query segundo get", query);

            $.ajax(query, {
                type: "GET"
            }).then(function (data) {


                var dataObject = JSON.parse(data);
                console.log(dataObject);


                var query2 = "/api/addBusiness";
                $.post(query2, dataObject).then (function(moreData) {                    
                    idToLink = moreData.id;
                    $(".temp1-link").attr("href","/template1/"+idToLink);
                    $(".temp2-link").attr("href","/template2/"+idToLink);
                    $(".temp3-link").attr("href","/template3/"+idToLink);

                    $('#modal1').modal('close');

                    console.log("MoreData", idToLink);
                });


            });

        });



    });

</script>