/* Styling for index.handlebars */
.index-class #modal-info .select-business {
  margin-right: 0%;
}


/* Styling for template1.handlebars */

.templ1-class #logoImg {
  width: 15%;
  margin-left: 5%;
  margin-top: 1%;
  margin-bottom: 0;
}

.templ1-class #header {
  height: 150px;
}

.templ1-class #nav-mobile {
  display: block;
}

.templ1-class #firstSection, .templ1-class #secondSection, .templ1-class #thirdSection, .templ1-class #fourthSection{
  height: 500px;
}

.templ1-class #firstSection h2, .templ1-class .collection {
  margin-top: 0;
  padding-top: 8%;
}

#firstSection p {
  font-size: 25px;
}

.secondary-content {
  color: black;
}

/* .card-image {
  width: 350px;
} */

/* Styling for template2.handlebars */

.templ2-class #header {
  height: 100px;
  margin-top: 50px;
}
.templ2-class #header li {
  margin-right: 20px;
  margin-top: 20px;
  width: 250px;
  text-align: center;
}
.templ2-class #logoImg {
  width: 15%;
  margin-left: 5%;
}
.templ2-class nav ul a {
  font-size: 1.5rem;
}
.templ2-class #secondSection {
  margin-top: 5%;
  height: 50px;
}
.templ2-class #thirdSection {
  margin-top: 8%;
}
.templ2-class .materialboxed {
  margin-top: 50px;
  margin-left: 130px;
}






