/* Styling for index.handlebars */
.index-class {
  font-family: 'Tenor Sans', sans-serif;
}
.index-class #modal-info .select-business {
  margin-right: 0%;
}
.index-class .nav-wrapper {
  background-image: linear-gradient(to right, white, #b2ff59);
  height: 80px;
}
.index-class #firstSection #header {
  background-image: linear-gradient(to right, white, #b2ff59);
  /* padding-left: 30px; */
  left: 40%;
  /* width: 800px; */
  /* text-align: center; */
}
.index-class .nav-wrapper #navButton {
  width: 180px;
  margin-top: 20px;
  margin-right: 40px;
  font-size: 20px;
}
.index-class #firstSection .btn {
  border-radius: 12px;
  color: black;
}
.index-class #logoImg {
  width: 15%;
  height: 130px;
  position: relative;
  left: 20px;
  top: 8px;
}
.index-class .container {
  width: 100%;
}
.index-class h5 {
  font-style: italic;
  /* padding: 50px; */
}
.index-class #firstSection {
  margin-top: 50px;
  /* padding-left: 80px; */
}
.index-class #firstSection .row{
  margin-left: 80px;
}
.index-class #firstSection .btn {
  margin-top: 20px;
  /* background-color: pink; */
}
.index-class #secondSection {
  margin-top: 50px;
  text-align: center;
  padding-top: 10px;
  background-color:#eeeeee;
  height: 160px;
}
.index-class #secondSection h5 {
  margin-bottom: 20px;
}
.index-class #modal2 h4 {
  font-size: 20px;
}
.index-class #modal2 span {
  font-size: 18px;
}
.index-class #modal2 #contactUs{
  font-size: 18px;
  margin-top: 8px;
}


/* Styling for template1.handlebars */
.templ1-class {
  font-family: 'Cormorant SC', serif;
}
.templ1-class #logoImg {
  width: 10%;
  position: absolute;
  left: 80px;
  top: 25px;
  background-color: #ffeb3b;
}

.templ1-class #header {
  font-size: 18px;
  height: 70px;
}

.templ1-class #nav-mobile {
  display: block;
}
.templ1-class #nav-mobile a {
  font-size: 18px;
  padding-bottom: 1px;
  padding-top: 1px;
  padding-right: 25px;

}

.templ1-class #firstSection {
  height: 300px;
}

.templ1-class #thirdSection {
  height: 400px;
}

.templ1-class #firstSection h2, .templ1-class .collection {
  margin-top: 0;
  padding-top: 8%;
}
.templ1-class #template-slider {
  margin-left: 50px;
  margin-top: 20px;
}
.templ1-class #firstSection p {
  font-size: 25px;
}
.templ1-class .secondary-content {
  color: black;
}
.templ1-class #secondSection {
  padding-left: 300px; 
  margin-left: 250px;
}
.templ1-class #template-slider .carousel-img {
  height: 350px;
  width: auto;
}
.templ1-class #thirdSection {
  height: auto;
  text-align: center;
}
.templ1-class #thirdSection .collection{
  border-style: hidden;
  padding-top: 20px;
}
.templ1-class #thirdSection .collection-header {
    background-color: #e1f5fe;
}
.templ1-class #fourthSection {
  height: 450px;
}
.templ1-class #fourthSection #scheduleDiv .card-title{
  margin-top: 20px;
}
.templ1-class #fourthSection  #map-display {
  margin-top: 10px;
}
.templ1-class hr {
  display: block;
  height: 1px;
  width: 60%;
  border: 0;
  border-top: 2px solid white;
  margin-top: 20px;
}
.templ1-class #fourthSection #sched-content{
  margin-top: 10px;
  font-size: 20px;
}
.templ1-class #fourthSection #schedTitle {
  font-style: italic;
  font-size: 24px;
}
.templ1-class #seventhSection {
  height: 180px;
}
.templ1-class #seventhSection i {
  margin-left: 20px;
}
.templ1-class .btn {
  height: auto;
  width: auto;
  padding: 5px 25px 5px 25px;
}

/* Styling for template2.handlebars */
.templ1-class {
  font-family: 'Montserrat', sans-serif;
}
.templ2-class #header {
  height: 100px;
  margin-top: 50px;
}
.templ2-class #header li {
  margin-right: 20px;
  margin-top: 20px;
  width: 250px;
  text-align: center;
}
.templ2-class #logoImg {
  width: 10%;
  position: absolute;
  left: 20px;
  top: 8px;
}
.templ2-class nav ul a {
  font-size: 1.5rem;
}
.templ2-class #secondSection {
  margin-top: 5%;
  height: 50px;
}
.templ2-class #thirdSection {
  margin-top: 8%;
  padding-top: 30px;
}
.templ2-class #thirdSection #textRow {
  font-size: 20px;
  margin-left: 100px;
}

.templ2-class #pictureRow {
  margin-left: 150px;
}
#map-display {
  height: 400px;
  width: 100%;  
}
#sched-content {
  margin: auto;
}
.templ2-class #fourthSection {
  height: 180px;
}
.templ2-class #fourthSection i {
  margin-left: 20px;
}
.templ2-class #fourthSection .btn {
  height: auto;
  width: auto;
  padding: 5px 25px 5px 25px;
}

/* Styling for template3.handlebars */
.templ3-class {
  font-family: 'Junge', serif;
}
.templ3-class body {
  margin-top: 0;
  background-color: #fcf8f8ef;
  color: #424242;
}

.templ3-class nav {
  height: 100px;
}
.templ3-class nav .brand-logo {
  padding-top: 15px;
  color: #424242;
}
.templ3-class nav #logoImg {
  width: 200px;
  position: absolute;
  right: 10px;
}
.templ3-class #secondSection {
  z-index: -1;
  position: relative;
}
.templ3-class #thirdSection #nav-mobile .btn {
  font-size: 30px;
  margin-top: 20px;
  margin-right: 80px;
  color: #424242;
  background-color:#fff9c4;
}
.templ3-class #fourthSection, .templ3-class #fifthSection {
  background-color:#ffd600;
}
.templ3-class #fourthSection, .templ3-class #fifthSection {
  padding-bottom: 20px;
}
.templ3-class #sixthSection {
  background-color:#fff9c4;
}
.templ3-class #fourthSection  .logo2Img, .templ3-class #fifthSection .logo2Img {
  width: 100px;
  position: absolute;
  right: 50px;
  margin-top: 50px;
}

.templ3-class #fourthSection h4, .templ3-class #fifthSection h4 {
  padding-left: 140px;
  padding-top: 40px;
}
.templ3-class #fourthSection img {
  width: 70%;
  height: auto;
}
.templ3-class #fourthSection hr, .templ3-class #fifthSection hr {
  display: block;
  width: 30%;
  border: 0;
  border-top: 2px solid #827717;
  margin-left: 7%;
}
.templ3-class #fifthSection #pictureCard img {
  width: 100%;
  margin-left: 110px;
  margin-top: 30px;
}
.templ3-class #fifthSection .card-panel {
  margin-left: 50px;
}
.templ3-class #fifthSection #storeHours {
  text-align: center;
}
.templ3-class #fifthSection #storeHours .card-title {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 20px;
}
.templ3-class #fifthSection #storeHours #sched-content {
  padding-bottom: 20px; 
}
.templ3-class #sixthSection {
  text-align: center;
  font-size: 25px;
  color: #424242;
  margin-bottom: 0px;
}
.templ3-class .footer-copyright {
  color: #424242;
}
.templ3-class #seventhSection {
  height: 180px;
}
.templ3-class #seventhSection i {
  margin-left: 20px;
}
.templ3-class .btn {
  height: auto;
  width: auto;
  padding: 5px 25px 5px 25px;
}
.templ3-class .page-footer hr {
  display: block;
  width: 40%;
  border: 0;
  border-top: 2px solid grey;
}
@media print {
  div.no-print {
    display: none;
  }
}

