/* Styling for index.handlebars */
.index-class #modal-info .select-business {
  margin-right: 0%;
}

/* Styling for template1.handlebars */

.templ1-class #logoImg {
  width: 10%;
  position: absolute;
  left: 20px;
  top: 8px;
  background-color: #ffeb3b;
}

.templ1-class #header {
  height: 100px;
}

.templ1-class #nav-mobile {
  display: block;
}

.templ1-class #firstSection, .templ1-class #thirdSection {
  height: 400px;
}

.templ1-class #firstSection h2, .templ1-class .collection {
  margin-top: 0;
  padding-top: 8%;
}
.templ1-class #template-slider {
  /* height: 1000px; */
  margin-left: 50px;
  margin-top: 20px;
}
.templ1-class #firstSection p {
  font-size: 25px;
}
.templ1-class .secondary-content {
  color: black;
}
.templ1-class #template-slider .carousel-img {
  height: 350px;
  width: auto;
}
.templ1-class #fourthSection {
  height: 450px;
}


/* Styling for template2.handlebars */

.templ2-class #header {
  height: 100px;
  margin-top: 50px;
}
.templ2-class #header li {
  margin-right: 20px;
  margin-top: 20px;
  width: 250px;
  text-align: center;
}
.templ2-class #logoImg {
  width: 10%;
  position: absolute;
  left: 20px;
  top: 8px;
}
.templ2-class nav ul a {
  font-size: 1.5rem;
}
.templ2-class #secondSection {
  margin-top: 5%;
  height: 50px;
}
.templ2-class #thirdSection {
  margin-top: 8%;
}
.templ2-class #pictureRow {
  margin-left: 150px;
}
#map-display {
  height: 400px;
  width: 100%;  
}

<<<<<<< HEAD
=======
#sched-content {
  margin: auto;
}


>>>>>>> 54467957ab3ef66ba2c1178f002e7ff76adf263e



            


